<!doctype html>
<html lang="html">
  <head>
    <title>MyPython</title>
  </head>
  <body>
    <h1>MyPython</h1>

    <div id="history">
      {% for item in output %}
      {{ item[0] }}<br>
      {{ item[1] }}<br>
      {% endfor %}
      <form action="handle_cmd" method="POST">
        <input type="text" name="cmd">
	<button type="submit">Execute!</button>
      </form>
    </div>

    <style>
      #history {
      position:absolute;
      size:100%;
      background: gray;
      color: white;
      float: left;
      }
      <style>
</html>
